<div class="col">
    <div class="card shadow-sm">
        <img src=<%= cours.lienThumbnail %> alt="Thumbnail" width="100%" height="225">

      <div class="card-body">
        <h6 class="card-text"><%= cours.titre %></h6>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="./lectureVideo" class="btn btn-sm btn-outline-secondary">Ouvrir le cours</a>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>