<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img src="/images/drcmind.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 link-secondary">Accueil</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">A propos</a></li>
        </ul>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/images/avatar.png" alt="Photo de profil" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small text-center"" aria-labelledby="dropdownUser1">
            <li><div class="text-center">
              <img src="/images/avatar.png" alt="Photo de profil" width="32" height="32" class="rounded-circle">
              <h4>Louis Musole</h4>
            </div></li>
            <li><a class="dropdown-item" href="/connexion">Déconnexion</a></li>
          </ul>
        </div>
      </div>
    </div>
</header>