<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecture video</title>
    <link href="/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/styles_personalises/headers.css" rel="stylesheet">
</head>
<body>
    <main>
        <%- include("header.html") %>
        <section class="text-center container">
            <video width="60%" controls muted="muted" autoplay>
                <source src="/video" type="video/mp4">
            </video>
          </section>
    </main>
    <%- include("footer.html") %>
    
    <script src="/assets/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>